exportPattern("^[[:alpha:]]+")
  export(irtawsi)
  import(bs4Dash)
  import(shinycssloaders)
  import(mirt)
  import(readxl)
  import(rmarkdown)
  import(diagram)
  import(gt)
    importFrom("shinyWidgets","actionBttn")
    importFrom("shiny","br","h2","fluidRow","h5","hr","icon","conditionalPanel","h4","textOutput","fileInput","radioButtons","uiOutput","tableOutput","plotOutput","tabPanel","tags","wellPanel","numericInput","selectInput","observeEvent","reactive","renderUI","downloadHandler","renderText","reactiveVal","renderPlot","renderTable","shinyApp")
    importFrom("graphics", "abline", "matplot", "par", "polygon", "text","title")
    importFrom("stats", "cor.test")
    importFrom("utils", "read.csv","read.delim2")
    importFrom("DT","renderDT","DTOutput")
    importFrom("psych","KMO","fa.parallel")

